# Build outputs
[Bb]in/
[Oo]bj/

# Visual Studio workspace
.vs/
.vscode/*
*.suo
*.user
*.userosscache
*.sln.docstates
BlazorWasmDotNet8AspNetCoreHosted.IntegrationTests.local.sln

# Build tools
*.log
*.tlog
*.cache
*.ilk
*.tmp
*.dbmdl
*.pdb
*.obj

# NuGet
*.nupkg
*.snupkg
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper

# Rider
.idea/

# DotCover
*.dotCover

# Test projects and artifacts
*Tests/
*.Tests/
*.IntegrationTests/
TestResults/
*.trx
*.coverage
*.coveragexml
coverage/
autogen-reasons.txt

# VS Code local history
.history/

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
